@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --color-title: 0deg 4% 15%;
    --color-text: 0deg 4% 35%;
    --color-text-light: 0deg 4% 55%;
    --color-bkg-red: 355deg 70% 54%;
    --color-bkg: 0deg 0% 100%;
    --color-bkgCard: 0 0% 100%;
    --color-bkgContainerRed: 355deg 70% 54%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-title: 355 4% 95%;
      --color-text: 355 4% 75%;
      --color-text-light: 0deg 4% 55%;
      --color-bkg-red: 355deg 70% 54%;
      --color-bkg: 355deg 20% 12%;
      --color-bkgCard: 355 16% 16%;
      --color-bkgContainerRed: 355 16% 16%;
    }
  }
  :root[data-theme="dark"] {
    --color-title: 355 4% 95%;
    --color-text: 355 4% 75%;
    --color-text-light: 0deg 4% 55%;
    --color-bkg-red: 355deg 70% 54%;
    --color-bkg: 355deg 20% 12%;
    --color-bkgCard: 355 16% 16%;
    --color-bkgContainerRed: 355 16% 16%;
  }
  :root[data-theme="light"] {
    --color-title: 0deg 4% 15%;
    --color-text: 0deg 4% 35%;
    --color-text-light: 0deg 4% 55%;
    --color-bkg-red: 355deg 70% 54%;
    --color-bkg: 0deg 0% 100%;
    --color-bkgCard: 0 0% 100%;
    --color-bkgContainerRed: 355deg 70% 54%;
  }
}

/* .slide-track {
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-230px * 5));
  }
} */

.carousel-container {
  padding: 40px 0;
}

.carousel-item {
  margin: 0 30px;

  flex: 0 0 230px !important;
  width: 230px !important;
  height: 278px !important;
}
.custom-dot-list-style {
  margin-top: 50px;
}
.custom-dot-list-style > li {
  margin-top: 60px;
}
.custom-dot-list-style > li > button {
  border: none;
  background-color: hsla(355, 4%, 35%, 0.5);
  transform: scale(0.7);
}
.react-multi-carousel-dot--active > button {
  transform: scale(0.9) !important;
}
